---
import Layout from "../layouts/Layout.astro";
import RecheckQueueComponent from "../components/RecheckQueue";
---

<Layout title="Recheck Queue">
	<p class="page-description">
		Items due for body recheck based on age-based freshness rules.
	</p>
	<RecheckQueueComponent client:load />
</Layout>
