---
import FlowRuns from "../components/FlowRuns";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Workflow Tracker">
	<section class="tracker-panel">
		<h3>Flow runs</h3>
		<FlowRuns client:load />
	</section>
</Layout>
