---
import Layout from "../../layouts/Layout.astro";
import GlossaryList from "../../components/GlossaryList";
---

<Layout title="Glossary">
	<div class="page-actions">
		<a href="/glossary/lookup" class="btn">Lookup</a>
		<a href="/glossary/import" class="btn">Import CSV</a>
	</div>
	<GlossaryList client:load />
</Layout>
